/node_modules

/oh_modules
**/node_modules
**/oh_modules
/local.properties
**/build
/.hvigor
.cxx
**/.cxx
**/.preview
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
.DS_store
/signing
/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
proxy_core/src/flclash/libflclash.so
